@using MVC_MIS.Models;
@model MVC_MIS.Models.BaseEmployee

@{
    Layout = "~/Views/Shared/_FindLayout.cshtml";
}
<br />
<form action="@Url.Action("Employee", "Find")" method="post">

    @Html.TextBoxFor(m => m.EmployeeName)
    @Html.TextBoxFor(m => m.EmployeeCode)

    <input type="submit" value="Save" />
</form>

<br />

<div class="">
    @{

        //Array lis way
        System.Collections.ArrayList arrayList = new System.Collections.ArrayList();
        arrayList.Add("C++");
        arrayList.Add("Js");
        arrayList.Add("CSS");
        arrayList.Add("HTML5");

        //dictonary way
        KeyValuePair<string, string> key_Value_Pair = new KeyValuePair<string, string>();

        string[] strings = { "C#", "CSS", "HTML5", "SQL", "React", "jQuery", "JavaScript", "React", "Angular", "Vanila JS", "Cake Js", "Animate.CSS" };

        <div class="row">
            @foreach (string skill in arrayList)
            {
                <div class="col-4">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Skills</div>
                        <div class="card-body">
                            <h5 class="card-title">@skill</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
</div>



<div class="row">
    @{
        string Day = "Sunday";
        string Output = "";

        switch (Day)
        {
            case "Sunday":
                Output = "This is Sunday";
                break;
            case "Monday":
                Output = "This is Monday";
                break;
            default:
                Output = "This is Friday!";
                break;
        }
    }
    <h3>@Output</h3>

    @*//View Data concept. It is comming from Controller*@
    <p>View Data concept. It is comming from Controller</p>

    @{
        if (ViewBag.Employee != null)
        {
            BaseEmployee obj = (BaseEmployee)ViewBag.Employee;
            <h5>@obj.EmployeeName</h5>
            <h5>@obj.EmployeeCode</h5>
        }
    }

</div>
